/*
Fonts
*/

@font-face {
	font-family: 'TradeGothicLT-Bold';
	src: url('../font/TradeGothicLTStd-Bold.otf');
}
@font-face {
	font-family: 'TradeGothicLT-BdCn20';
	src: url('../font/TradeGothicLTStd BdCn20.otf');
}
@font-face {
	font-family: 'TradeGothicLT-Cn18';
	src: url('../font/TradeGothicLTStd-Cn18.otf');
}
@font-face {
	font-family: 'AdobeGaramondPro-Regular';
	src: url('../font/AGaramondPro-Regular.otf');
}

/*
Page Styles
*/

#map-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'TradeGothicLT-BdCn20';
	background-color: #2C251C;
}
.h-text {
	font-family: 'AdobeGaramondPro-Regular';
}
.sourceText {
	padding: 8px 0 0 0;
	font-size: 6px;
	line-height: 8px;
	opacity: .5;
}
.r1, .r2, .r3, .r4, .r5 {
	position: relative;
}
.full-height {
	height: 100%;
}

/* 
Map Interactive Core Styles
*/

#map-interactive {
	position: relative;
	width: 100%
}
#choropleth-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}
#map-background {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
}
#map-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0;
	z-index: 10;
}
#map-header {
	top: 0px;
	height: 5%;
	font-size: 24px;
	color: #FFF8D9;
	z-index: 100;
	text-align: center;
	letter-spacing: 4px;
	margin: 2% 0 0 0;
}
#map-ui {
	top: 0px;
	height: 9%;
	margin: 0 0 23% 0;
}
#map-metric {
	top: 0px;
	height: 34%;
}
#map-legend {
	top: 0px;
	height: 6%;
	color: #FFFFFF;
	font-size: 0px;
}
svg g {
	-webkit-transform: translate(168px, 228px);
	-moz-transform: translate(168px, 228px);
	transform: translate(168px, 228px);
}
.country {
	fill: #403e36;
	cursor: pointer;
}
#map-tooSmall {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #FFF8D9;
	background-color: rgba(0, 0, 0, 1);
	-webkit-transition: opacity 0.6s linear;
	transition: opacity 0.6s linear;
	opacity: 0;
	z-index: -100;
}
#map-tooSmall .note {
	position: absolute;
	top: 28%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin: 0 0 0 -150px;
	font-weight: bold;
	font-size: 24px;
	font-family: 'TradeGothicLT-BdCn20';
}
#map-tooSmall .note .note-text {
	top: 15%;
	width: 300px;
	height: 92px;
	text-align: center;
}
#map-tooSmall .note .note-line {
	margin: 30px 110px;
	width: 80px;
	height: 2px;
	background-color: rgba(255, 255, 255, .8);
}

/*
Map Intro Modal
*/

#map-intro {
	position: absolute;
	top: 25%;
	left: 50%;
	width: 480px;
	height: 242px;
	margin: 0 0 0 -246px;
	padding: 16px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .8);
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	z-index: 9999;
	font-family: 'AdobeGaramondPro-Regular';
}
#map-intro .modal-head {
	position: relative;
	top: -16px;
	left: 0px;
	width: 85%;
	height: 15%;
	display: inline-block;
	color: #FFF8D9;
	font-size: 24px;
	letter-spacing: 4px;
}
#map-intro .modal-exit {
	position: relative;
	top: 0px;
	left: 44px;
	width: 5%;
	height: 15%;
	display: inline-block;
	text-align: right;
}
#map-intro .modal-exit .exit {
	position: absolute;
	width: 28px;
	height: 28px;
	display: block;
	cursor: pointer;
}
#map-intro .modal-exit .exit .exit-line-a, #map-intro .modal-exit .exit .exit-line-b {
	position: absolute;
	top: 6px;
	background: #FFFFFF;
	display: block;
	width: 24px;
	height: 3px;
}
.exit-line-a {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.exit-line-b {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#map-intro .modalbody {
	position: absolute;
	top: 20%;
	width: 92%;
	height: 75%;
	line-height: 18px;
}
#transparent-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 9999;
}

/*
Filter Selection
*/

#filterSelect {
	position: absolute;
	top: 0px;	
	left: 50%;
	height: 5%;
	margin: 0 0 0 -114px;
	z-index: 1000;
	letter-spacing: 1px;
	width: 228px
}

/*
Drop Down Menu
*/

.dropdown {
	display: block;
	height: auto;
	width: 228px;
	font-size: 17px;
	color: rgba(255, 248, 217, 1);
	background-color: rgba(97, 80, 53, .8);
}
.dropdown .ddSelected {
	position: relative;
	height: 32px;
	width: 228px;
	padding: 7px 0 0 0;
	cursor: pointer;
	display: block;
	text-align: center;
	color: rgba(255, 248, 217, 1);
	background-color: rgba(97, 80, 53, .8);
	border: none;
}
.dropdown .ddSelected img {
	position: absolute;
	top: 14px;
	left: 208px;
}
.dropdown:hover .ddSelected, .dropdown.active .ddSelected {
	height: 34px;
	color: rgba(255, 248, 217, 1);
	background-color: rgba(97, 80, 53, .8);
	border-bottom: 2px solid rgba(255, 248, 217, 1);
}
.dropdown .ddList {
	height: 0px;
	width: 228px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .8);
	overflow: hidden;
	transition: height 0.2s linear;
}
.dropdown:hover .ddList, .dropdown.active .ddList {
	height: 192px;
}
.dropdown .ddList .ddOption{
	width: 228px;
	height: 32px;
	padding: 7px 0 0 0;
	cursor: pointer;
	display: block;
	text-align: center;
	border-bottom: 1px solid #FFFFFF;
	transition: color 0.1s linear, background-color 0.1s linear;
}
.dropdown .ddList .ddOption:hover, .dropdown .ddList .ddOption.active {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(97, 80, 53, .8);
}
.dropdown .ddList .ddOption.active:hover {
	color: rgba(255, 248, 217, 1);
	background-color: rgba(97, 80, 53, .9);
}

/*
Chronology Toggle 
*/

#chronologySelect {
	position: absolute;
	top: 0px;	
	left: 50%;
	height: 28px;
	margin: 0 0 0 -148px;
	z-index: 1000; 
	font-size: 0px;
	letter-spacing: 1px;
}
#chronologySelect .chronology {
	width: 96px;
	height: 28px;
	padding: 6px 0 0 0;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	color: rgba(255, 248, 217, 1);
	border: 2px solid #403524;
	background-color: rgba(97, 80, 53, 1);
}
#chronologySelect .chronology.active {
	color: rgba(46, 39, 29, 1);
	border: 2px solid #b0ab95;
	background-color: rgba(255, 248, 217, 1);
}

/*
Dynamic Map Key
*/

#map-key {
	height: 5%;
	width: 100%;
	padding: 4px 0 0 0;
	z-index: 9999;
	text-align: center;
	display: inline-block;
}
#filter-metric {
	padding: 0 0 0 20%;
	font-size: 16px;
	text-align: left;
	display: inline-block;
	width: 100%;
	height: 5%;
	line-height: 20px;
	letter-spacing: 2px;
}
#filter-range {
	height: 5%;
	width: 100%;
	display: inline-block;
	font-size: 0px;
}
#filter-range .key-color {
	position: relative;
	width: 18%;
	height: 40px;
	margin: 0 6px 0 6px;
	display: inline-block;
}
#filter-range .key-color .color-value {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 8px;
}
#filter-range .key-color .text-value {
	position: absolute;
	top: 16px;
	left: 0px;
	width: 100%;
	height: 32px;
	font-size: 16px;
	text-align: center;
}

/*
Map Key Callout Box
*/

.callout {
	position: absolute;
	height: 100%;
	width: 80%;
	padding: 0 0 0 20%;
}
#map-callout {
	position: absolute;
	bottom: 28px;
	width: 180px;
	height: auto;
	padding: 16px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .5);
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
}
#map-triangle {
	position: absolute;
	bottom: 8px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 20px 0 0;
	border-color: #000000 transparent transparent transparent;
	opacity: .5;
}

/*
Map Tooltip
*/

#map-tooltip {
	position: absolute;
	top: 0px;
	left: 0px;
	width: auto;
	height: auto;
	padding: 16px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .9);
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	z-index: 1000;
	display: none;
}
#map-tooltip.active {
	display: block;
}
#map-tooltip .stat {
	opacity: .5;
}
#map-tooltip .data {
	font-size: 12px;
}

/*
Media Queries
*/

/* Huge */
@media (min-width: 1560px) {

/* 
Map Interactive Core Styles
*/
	
	#map-wrapper {
		height: 100%;
	}

	#choropleth-wrapper {
		height: 100%;
	}
	#map-container {
		height: 100%;
	}
	#map-header {
		top: 0px;
		font-size: 32px;
		margin: 1% 0 0 0;
		height: 5%;
	}
	#map-ui {
		top: 0px;
		margin: 0 0 23% 0;
		height: 4%;
	}
	#map-metric {
		top: 0px;
		height: 35%;
	}
	#map-legend {
		top: 0px;
		height: 10%;
	}
	svg g {
		-webkit-transform: translate(168px, 202px);
		-moz-transform: translate(168px, 202px);
    	transform: translate(168px, 202px);
	}
	.sourceText {
		font-size: 8px;
		line-height: 10px;
		opacity: .5;
	}

/*
Map Intro Modal
*/

	#map-intro {
		top: 25%;
		width: 720px;
		height: 360px;
		margin: 0 0 0 -360px;
		padding: 32px;
		font-size: 22px;
		line-height: 30px;
	}
	#map-intro .modal-head {
		top: -12px;
		width: 90%;
		font-size: 36px;
		letter-spacing: 4px;
		line-height: 48px;
	}
	#map-intro .modal-exit {
		top: 0px;
		height: 10%;
	}
	#map-intro .modal-exit .exit {
		left: 0px;
		top: -12px;
	}
	#map-intro .modal-exit .exit .exit-line-a, #map-intro .modal-exit .exit .exit-line-b {
		top: 12px;
		height: 3px;
		width: 30px;
	}
	#map-intro .modalbody {
		top: 20%;
		line-height: 26px;
		height: 73%;
	}

/*
Filter Selection
*/

#filterSelect {
	position: absolute;
	top: 0px;	
	left: 50%;
	height: 40px;
	margin: 0 0 0 -124px;
	z-index: 1000;
	letter-spacing: 1px;
	width: 248px
}

/*
Drop Down Menu
*/

	.dropdown {
		width: 248px;
		font-size: 19px;
	}
	.dropdown .ddSelected {
		padding: 8px 0 0 0;
		width: 248px;
		height: 40px;
		padding: 9px 0 0 0;
	}
	.dropdown .ddSelected img {
		left: 224px;
		top: 17px;
	}
	.dropdown:hover .ddSelected, .dropdown.active .ddSelected {
		height: 42px;
		color: rgba(255, 248, 217, 1);
		background-color: rgba(97, 80, 53, .8);
		border-bottom: 2px solid rgba(255, 248, 217, 1);
	}
	.dropdown .ddList {
		width: 248px;
	}
	.dropdown:hover .ddList, .dropdown.active .ddList {
		height: 240px;
	}
	.dropdown .ddList .ddOption{
		width: 248px;
		padding: 9px 0 0 0;
		height: 40px;
		padding: 9px 0 0 0;
	}

/*
Chronology Toggle 
*/

	#chronologySelect {
		height: 38px;
		margin: 0 0 0 -148px;
	}
	#chronologySelect .chronology {
		height: 32px;
		padding: 6px 0 0 0;
		font-size: 16px;
	}

/*
Dynamic Map Key
*/
	
	#map-key {
		padding: 8px 0 0 0;
	}
	#filter-metric {
		font-size: 22px;
		line-height: 28px;
	}
	#filter-range .key-color {
		margin: 0 8px 0 8px;
	}
	#filter-range .key-color .text-value {
		font-size: 22px;
	}

/*
Map Key Callout Box
*/

	.callout {
		height: 100%;
	}
	#map-callout {
		width: 240px;
		font-size: 16px;
		line-height: 20px;
	}

/*
Map Tooltip
*/

	#map-tooltip  {
		font-size: 16px;
		line-height: 24px;
	}
	#map-tooltip .data {
		font-size: 16px;
	}
}

/*
Hide
*/

@media (max-width: 992px) {
	#map-tooSmall {
		-webkit-transition: opacity 0.6s linear;
		transition: opacity 0.6s linear;
		z-index: 9999;
		opacity: 1;	
	}
}
@media (max-height: 580px) {
	#map-tooSmall {
		-webkit-transition: opacity 0.6s linear;
		transition: opacity 0.6s linear;
		z-index: 9999;
		opacity: 1;	
	}	
}


/*
Map Color Layers
*/

/* LIGHT COLOR SCHEME */
.green-5 {
	background-color: #5FC200;
	fill: #5FC200;
}
.green-4 {
	background-color: #7BCD2C;
	fill: #7BCD2C;
}
.green-3 {
	background-color: #96D859;
	fill: #96D859;
}
.green-2 {
	background-color: #B2E485;
	fill: #B2E485;
}
.green-1 {
	background-color: #CDEFB2;
	fill: #CDEFB2;
}
.green-0 {
	background-color: #E9FADE;
	fill: #E9FADE;
}

/* chartreuse */
.chartreuse-5 {
	background-color: #C2BA00;
	fill: #C2BA00;
}
.chartreuse-4 {
	background-color: #CDC72C;
	fill: #CDC72C;
}
.chartreuse-3 {
	background-color: #D8D459;
	fill: #D8D459;
}
.chartreuse-2 {
	background-color: #E4E085;
	fill: #E4E085;
}
.chartreuse-1 {
	background-color: #EFEDB2;
	fill: #EFEDB2;
}
.chartreuse-0 {
	background-color: #FAFADE;
	fill: #FAFADE;
}

/* amber */
.amber-5 {
	background-color: #D9A300;
	fill: #D9A300;
}
.amber-4 {
	background-color: #E1B42D;
	fill: #E1B42D;
}
.amber-3 {
	background-color: #E8C55A;
	fill: #E8C55A;
}
.amber-2 {
	background-color: #F0D788;
	fill: #F0D788;
}
.amber-1 {
	background-color: #F7E8B5;
	fill: #F7E8B5;
}
.amber-0 {
	background-color: #FFF9E2;
	fill: #FFF9E2;
}

/* Orange */
.orange-5 {
	background-color: #C26700;
	fill: #C26700;
}
.orange-4 {
	background-color: #CD822C;
	fill: #CD822C;
}
.orange-3 {
	background-color: #D89D59;
	fill: #D89D59;
}
.orange-2 {
	background-color: #E4B985;
	fill: #E4B985;
}
.orange-1 {
	background-color: #EFD4B2;
	fill: #EFD4B2;
}
.orange-0{
	background-color: #FAEFDE;
	fill: #FAEFDE;
}

/* vermillion */
.vermillion-5 {
	background-color: #C63D07;
	fill: #C63D07;
}
.vermillion-4 {
	background-color: #D15F32;
	fill: #D15F32;
}
.vermillion-3 {
	background-color: #DB815D;
	fill: #DB815D;
}
.vermillion-2 {
	background-color: #E6A389;
	fill: #E6A389;
}
.vermillion-1 {
	background-color: #F0C5B4;
	fill: #F0C5B4;
}
.vermillion-0{
	background-color: #FBE7DF;
	fill: #FBE7DF;
}

/* red */
.red-5 {
	background-color: #C2001A;
	fill: #C2001A;
}
.red-4 {
	background-color: #CD2C41;
	fill: #CD2C41;
}
.red-3 {
	background-color: #D85968;
	fill: #D85968;
}
.red-2 {
	background-color: #E48590;
	fill: #E48590;
}
.red-1 {
	background-color: #EFB2B7;
	fill: #EFB2B7;
}
.red-0 {
	background-color: #FADEDE;
	fill: #FADEDE;
}

/* fuchsia */
.fuchsia-5 {
	background-color: #C200A3;
	fill: #C200A3;
}
.fuchsia-4 {
	background-color: #CD2CB3;
	fill: #CD2CB3;
}
.fuchsia-3 {
	background-color: #D859C3;
	fill: #D859C3;
}
.fuchsia-2 {
	background-color: #E485D2;
	fill: #E485D2;
}
.fuchsia-1 {
	background-color: #FADEF2;
	fill: #FADEF2;
}
.fuchsia-0 {
	background-color: #383539;
	fill: #383539;
}

/* purple */
.purple-5 {
	background-color: #6600CC;
	fill: #6600CC;
}
.purple-4 {
	background-color: #822DD6;
	fill: #822DD6;
}
.purple-3 {
	background-color: #9E5ADF;
	fill: #9E5ADF;
}
.purple-2 {
	background-color: #B986E9;
	fill: #B986E9;
}
.purple-1 {
	background-color: #D5B3F2;
	fill: #D5B3F2;
}
.purple-0 {
	background-color: #F1E0FC;
	fill: #F1E0FC;
}