
Fonts
*/
@font-face {
	font-family: 'TradeGothicLT-Bold';
	src: url('../font/TradeGothicLTStd-Bold.otf');
}
@font-face {
	font-family: 'TradeGothicLT-BdCn20';
	src: url('../font/TradeGothicLTStd BdCn20.otf');
}
@font-face {
	font-family: 'TradeGothicLT-Cn18';
	src: url('../font/TradeGothicLTStd-Cn18.otf');
}
@font-face {
	font-family: 'AdobeGaramondPro-Regular';
	src: url('../font/AGaramondPro-Regular.otf');
}

/*
Page Styles
*/

body {
	background-color: rgba(45, 38, 29, 1);
}
#map-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: helvetica;
	background-size: cover;
}
.page {
	position: relative;
	top: 0px;
	left: 0px;
	width: auto;
	height: auto;
}
.h-text {
	font-family: 'AdobeGaramondPro-Regular';
}
.c-text {
	font-family: 'TradeGothicLT-Cn18';
}
.r1, .r2, .r3, .r4, .r5 {
	position: relative;
}

/* 
Map Interactive Core Styles
*/

#map-interactive {
	position: relative;
	margin: 0 auto;
	width: 100%
}
#choropleth-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 1080px;
}
#map-background {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
}
#map-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 730px;
	padding: 210px 0 0 0;
	z-index: 10;
}
#map-header {
	top: -1080px;
	height: 30px;
	font-size: 32px;
	color: #FFF8D9;
	z-index: 100;
	text-align: center;
	letter-spacing: 4px;
	margin: 50px 0 0 0;
}
#map-ui {
	top: -1080px;
	height: 40px;
	margin: 40px 0 360px 0;
}
#map-metric {
	top: -1080px;
	height: 440px;
}
#map-legend {
	top: -1080px;
	height: 60px;
	color: #FFFFFF;
	font-size: 0px;
}
.country {
	fill: #403e36;
	cursor: pointer;
}
.bottom {
	vertical-align: bottom !important;
	float: none !important;
}

/*
Map Intro Modal
*/

#map-intro {
	position: absolute;
	top: 348px;
	left: 50%;
	width: 480px;
	height: 296px;
	margin: 0 0 0 -272px;
	padding: 32px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .8);
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 1px;
	z-index: 1000;
	display: block;
}
#map-intro .modal-head {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 85%;
	height: 15%;
	display: inline-block;
	color: #FFF8D9;
	font-size: 36px;
	letter-spacing: 4px;
	line-height: 48px;
}
#map-intro .modal-exit {
	position: absolute;
	top: 5%;
	left: 90%;
	width: 5%;
	height: 15%;
	display: inline-block;
	text-align: right;
}
#map-intro .modal-exit .exit {
	position: absolute;
	width: 28px;
	height: 28px;
	display: block;
	cursor: pointer;
}
#map-intro .modal-exit .exit .exit-line-a, #map-intro .modal-exit .exit .exit-line-b {
	position: absolute;
	top: 12px;
	background: #FFFFFF;
	display: block;
	width: 30px;
	height: 3px;
}
.exit-line-a {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.exit-line-b {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#map-intro .modal-content {
	position: absolute;
	top: 20%;
	left: 5%;
	width: 90%;
	height: 75%;
}

/*
Filter Selection
*/

#filterSelect {
	position: absolute;
	top: 0px;	
	left: 50%;
	height: 40px;
	margin: 0 0 0 -148px;
	z-index: 1000;
	letter-spacing: 1px;
}


/*
Drop Down Menu
*/

.dropdown {
	display: block;
	height: auto;
	font-size: 19px;
	color: rgba(255, 248, 217, 1);
	background-color: rgba(97, 80, 53, .5);
}
.dropdown .ddSelected {
	position: relative;
	height: 40px;
	padding: 8px 0 0 0;
	cursor: pointer;
	display: block;
	text-align: center;
	color: rgba(255, 248, 217, 1);
	background-color: rgba(97, 80, 53, .5);
	border: none;
}
.dropdown .ddSelected img {
	position: absolute;
	top: 17px;
	left: 276px;
}
.dropdown:hover .ddSelected, .dropdown.active .ddSelected {
	color: rgba(255, 248, 217, 1);
	background-color: rgba(97, 80, 53, .5);
	border-bottom: 2px solid rgba(255, 248, 217, 1);
}
.dropdown .ddList {
	height: 0px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .5);
	overflow: hidden;
	transition: height 0.2s linear;
}
.dropdown:hover .ddList, .dropdown.active .ddList {
	height: 278px;
}
.dropdown .ddList .ddOption{
	width: 296px;
	height: 40px;
	padding: 8px 0 0 0;
	cursor: pointer;
	display: block;
	text-align: center;
	border-bottom: 1px solid #FFFFFF;
	transition: color 0.1s linear, background-color 0.1s linear;
}
.dropdown .ddList .ddOption:hover, .dropdown .ddList .ddOption.active {
	color: rgba(255, 248, 217, 1);
	background-color: rgba(97, 80, 53, .5);
}
/*
Chronology Toggle 
*/

#chronologySelect {
	position: absolute;
	top: 0px;	
	left: 50%;
	height: 40px;
	margin: 0 0 0 -148px;
	z-index: 1000; 
	font-size: 0px;
	letter-spacing: 1px;
}
#chronologySelect .chronology {
	width: 96px;
	height: 40px;
	padding: 8px 0 0 0;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	color: rgba(255, 248, 217, 1);
	border: 2px solid #403524;
	background-color: rgba(97, 80, 53, 1);
}
#chronologySelect .chronology.active {
	color: rgba(46, 39, 29, 1);
	border: 2px solid #b0ab95;
	background-color: rgba(255, 248, 217, 1);
}

/*
Dynamic Map Key
*/

#map-key {
	height: 48px;
	width: 100%;
	z-index: 9999;
	text-align: center;
	display: inline-block;
	backg
}
#filter-metric {
	padding: 0 0 0 20%;
	font-size: 22px;
	text-align: left;
	display: inline-block;
	width: 100%;
	height: 60px;
	line-height: 24px;
}
#filter-range {
	height: 48px;
	width: 100%;
	display: inline-block;
	font-size: 0px;
}
#filter-range .key-color {
	position: relative;
	width: 18%;
	height: 40px;
	margin: 0 0 0 20px;
	display: inline-block;
}
#filter-range .key-color .color-value {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 8px;
}
#filter-range .key-color .text-value {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 32px;
	font-size: 22px;
}

/*
Map Key Callout Box
*/

.callout {
	position: absolute;
	height: 440px;
	width: 80%;
	paddings: 0 0 0 20%;
}
#map-callout {
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: auto;
	padding: 16px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .5);
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
}
#map-triangle {
	position: absolute;
	bottom: 0px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 20px 0 0;
	border-color: #000000 transparent transparent transparent;
	opacity: .5;
}

/*
Map Tooltip
*/
#map-tooltip {
	position: absolute;
	top: 200px;
	left: 1136px;
	width: 248px;
	height: auto;
	padding: 16px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .6);
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	z-index: 1000;
	display: none;
}

/*
Map Color Layers
*/

/* DARK COLOR SCHEME */


/* green */

/*.green-5 {
	background-color: #57E800;
	fill: #57E800;
}
.green-4 {
	background-color: #4BC800;
	fill: #4BC800;
}
.green-3 {
	background-color: #3FA800;
	fill: #3FA800;
}
.green-2 {
	background-color: #338700;
	fill: #338700;
}
.green-1 {
	background-color: #276700;
	fill: #276700;
}
.green-0 {
	background-color: #1B4700;
	fill: #1B4700;
}*/

/* chartreuse */
/*.chartreuse-5 {
	background-color: #E8E800;
	fill: #E8E800;
}
.chartreuse-4 {
	background-color: #C8C800;
	fill: #C8C800;
}
.chartreuse-3 {
	background-color: #A8A800;
	fill: #A8A800;
}
.chartreuse-2 {
	background-color: #878700;
	fill: #878700;
}
.chartreuse-1 {
	background-color: #676700;
	fill: #676700;
}
.chartreuse-0 {
	background-color: #474700;
	fill: #474700;
}*/

/* amber */
/*.amber-5 {
	background-color: #FFCA00;
	fill: #FFCA00;
}
.amber-4 {
	background-color: #DFB100;
	fill: #DFB100;
}
.amber-3 {
	background-color: #BF9700;
	fill: #BF9700;
}
.amber-2 {
	background-color: #9E7E00;
	fill: #9E7E00;
}
.amber-1 {
	background-color: #7E6400;
	fill: #7E6400;
}
.amber-0 {
	background-color: #5E4B00;
	fill: #5E4B00;
}*/

/* Orange */
/*.orange-5 {
	background-color: #E88700;
	fill: #E88700;
}
.orange-4 {
	background-color: #C87400;
	fill: #C87400;
}
.orange-3 {
	background-color: #A86200;
	fill: #A86200;
}
.orange-2 {
	background-color: #874F00;
	fill: #874F00;
}
.orange-1 {
	background-color: #673D00;
	fill: #673D00;
}
.orange-0{
	background-color: #472A00;
	fill: #472A00;
}*/

/* vermillion */
/*.vermillion-5 {
	background-color: #EC4500;
	fill: #EC4500;
}
.vermillion-4 {
	background-color: #CC3C00;
	fill: #CC3C00;
}
.vermillion-3 {
	background-color: #AC3200;
	fill: #AC3200;
}
.vermillion-2 {
	background-color: #8B2900;
	fill: #8B2900;
}
.vermillion-1 {
	background-color: #6B1F00;
	fill: #6B1F00;
}
.vermillion-0{
	background-color: #4B1600;
	fill: #4B1600;
}*/

/* red */
/*.red-5 {
	background-color: #E80000;
	fill: #E80000;
}
.red-4 {
	background-color: #C80000;
	fill: #C80000;
}
.red-3 {
	background-color: #A80000;
	fill: #A80000;
}
.red-2 {
	background-color: #870000;
	fill: #870000;
}
.red-1 {
	background-color: #670000;
	fill: #670000;
}
.red-0 {
	background-color: #470000;
	fill: #470000;
}*/

/* Fuchsia */
/*.fuchsia-5 {
	background-color: #E800A4;
	fill: #E800A4;
}
.fuchsia-4 {
	background-color: #C8008D;
	fill: #C8008D;
}
.fuchsia-3 {
	background-color: #A80077;
	fill: #A80077;
}
.fuchsia-2 {
	background-color: #870060;
	fill: #870060;
}
.fuchsia-1 {
	background-color: #67004A;
	fill: #67004A;
}
.fuchsia-0 {
	background-color: #470033;
	fill: #470033;
}*/

/* purple */
/*.purple-5 {
	background-color: #8D00F2;
	fill: #8D00F2;
}
.purple-4 {
	background-color: #7A00D2;
	fill: #7A00D2;
}
.purple-3 {
	background-color: #6800B2;
	fill: #6800B2;
}
.purple-2 {
	background-color: #550091;
	fill: #550091;
}
.purple-1 {
	background-color: #430071;
	fill: #430071;
}
.purple-0 {
	background-color: #300051;
	fill: #300051;
}*/

/* LIGHT COLOR SCHEME */
.green-5 {
	background-color: #5FC200;
	fill: #5FC200;
}
.green-4 {
	background-color: #7BCD2C;
	fill: #7BCD2C;
}
.green-3 {
	background-color: #96D859;
	fill: #96D859;
}
.green-2 {
	background-color: #B2E485;
	fill: #B2E485;
}
.green-1 {
	background-color: #CDEFB2;
	fill: #CDEFB2;
}
.green-0 {
	background-color: #E9FADE;
	fill: #E9FADE;
}

/* chartreuse */
.chartreuse-5 {
	background-color: #C2BA00;
	fill: #C2BA00;
}
.chartreuse-4 {
	background-color: #CDC72C;
	fill: #CDC72C;
}
.chartreuse-3 {
	background-color: #D8D459;
	fill: #D8D459;
}
.chartreuse-2 {
	background-color: #E4E085;
	fill: #E4E085;
}
.chartreuse-1 {
	background-color: #EFEDB2;
	fill: #EFEDB2;
}
.chartreuse-0 {
	background-color: #FAFADE;
	fill: #FAFADE;
}

/* amber */
.amber-5 {
	background-color: #D9A300;
	fill: #D9A300;
}
.amber-4 {
	background-color: #E1B42D;
	fill: #E1B42D;
}
.amber-3 {
	background-color: #E8C55A;
	fill: #E8C55A;
}
.amber-2 {
	background-color: #F0D788;
	fill: #F0D788;
}
.amber-1 {
	background-color: #F7E8B5;
	fill: #F7E8B5;
}
.amber-0 {
	background-color: #FFF9E2;
	fill: #FFF9E2;
}

/* Orange */
.orange-5 {
	background-color: #C26700;
	fill: #C26700;
}
.orange-4 {
	background-color: #CD822C;
	fill: #CD822C;
}
.orange-3 {
	background-color: #D89D59;
	fill: #D89D59;
}
.orange-2 {
	background-color: #E4B985;
	fill: #E4B985;
}
.orange-1 {
	background-color: #EFD4B2;
	fill: #EFD4B2;
}
.orange-0{
	background-color: #FAEFDE;
	fill: #FAEFDE;
}

/* vermillion */
.vermillion-5 {
	background-color: #C63D07;
	fill: #C63D07;
}
.vermillion-4 {
	background-color: #D15F32;
	fill: #D15F32;
}
.vermillion-3 {
	background-color: #DB815D;
	fill: #DB815D;
}
.vermillion-2 {
	background-color: #E6A389;
	fill: #E6A389;
}
.vermillion-1 {
	background-color: #F0C5B4;
	fill: #F0C5B4;
}
.vermillion-0{
	background-color: #FBE7DF;
	fill: #FBE7DF;
}

/* red */
.red-5 {
	background-color: #C2001A;
	fill: #C2001A;
}
.red-4 {
	background-color: #CD2C41;
	fill: #CD2C41;
}
.red-3 {
	background-color: #D85968;
	fill: #D85968;
}
.red-2 {
	background-color: #E48590;
	fill: #E48590;
}
.red-1 {
	background-color: #EFB2B7;
	fill: #EFB2B7;
}
.red-0 {
	background-color: #FADEDE;
	fill: #FADEDE;
}

/* fuchsia */
.fuchsia-5 {
	background-color: #C200A3;
	fill: #C200A3;
}
.fuchsia-4 {
	background-color: #CD2CB3;
	fill: #CD2CB3;
}
.fuchsia-3 {
	background-color: #D859C3;
	fill: #D859C3;
}
.fuchsia-2 {
	background-color: #E485D2;
	fill: #E485D2;
}
.fuchsia-1 {
	background-color: #FADEF2;
	fill: #FADEF2;
}
.fuchsia-0 {
	background-color: #383539;
	fill: #383539;
}

/* purple */
.purple-5 {
	background-color: #6600CC;
	fill: #6600CC;
}
.purple-4 {
	background-color: #822DD6;
	fill: #822DD6;
}
.purple-3 {
	background-color: #9E5ADF;
	fill: #9E5ADF;
}
.purple-2 {
	background-color: #B986E9;
	fill: #B986E9;
}
.purple-1 {
	background-color: #D5B3F2;
	fill: #D5B3F2;
}
.purple-0 {
	background-color: #F1E0FC;
	fill: #F1E0FC;
}

/* OLD COLOR SCHEME */

/* Olive */

/*.olive-5 {
	background-color: #87815B;
	fill: #87815B;
}
.olive-4 {
	background-color: #757150;
	fill: #757150;
}
.olive-3 {
	background-color: #625E44;
	fill: #625E44;
}
.olive-2 {
	background-color: #504D39;
	fill: #504D39;
}
.olive-1 {
	background-color: #3D3B2D;
	fill: #3D3B2D;
}
.olive-0 {
	background-color: #302E24;
	fill: #302E24;
}*/

/* green */
/*.green-5 {
	background-color: #97935C;
	fill: #97935C;
}
.green-4 {
	background-color: #858152;
	fill: #858152;
}
.green-3 {
	background-color: #726E48;
	fill: #726E48;
}
.green-2 {
	background-color: #605D3E;
	fill: #605D3E;
}
.green-1 {
	background-color: #4D4B34;
	fill: #4D4B34;
}
.green-0 {
	background-color: #3B392A;
	fill: #3B392A;
}*/

/* Yellow */
/*.yellow-5 {
	background-color: #D6B862;
	fill: #D6B862;
}
.yellow-4 {
	background-color: #C4A95B;
	fill: #C4A95B;
}
.yellow-3 {
	background-color: #B19A57;
	fill: #B19A57;
}
.yellow-2 {
	background-color: #9F8A50;
	fill: #9F8A50;
}
.yellow-1 {
	background-color: #8C7B4A;
	fill: #8C7B4A;
}
.yellow-0 {
	background-color: #7A6C43;
	fill: #7A6C43;
}*/

/* Orange */
/*.orange-5 {
	background-color: #CC9A5D;
	fill: #CC9A5D;
}
.orange-4 {
	background-color: #BA8D57;
	fill: #BA8D57;
}
.orange-3 {
	background-color: #A77F51;
	fill: #A77F51;
}
.orange-2 {
	background-color: #95734B;
	fill: #95734B;
}
.orange-1 {
	background-color: #826644;
	fill: #826644;
}
.orange-0{
	background-color: #70593E;
	fill: #70593E;
}*/

/* Brown */
/*.brown-5 {
	background-color: #976551;
	fill: #976551;
}
.brown-4 {
	background-color: #855A49;
	fill: #855A49;
}
.brown-3 {
	background-color: #724F40;
	fill: #724F40;
}
.brown-2 {
	background-color: #604338;
	fill: #604338;
}
.brown-1 {
	background-color: #4D372E;
	fill: #4D372E;
}
.brown-0{
	background-color: #3B2C25;
	fill: #3B2C25;
}*/

/* Burgandy */
/*.burgandy-5 {
	background-color: #80595C;
	fill: #80595C;
}
.burgandy-4 {
	background-color: #6D4E50;
	fill: #6D4E50;
}
.burgandy-3 {
	background-color: #5A4243;
	fill: #5A4243;
}
.burgandy-2 {
	background-color: #493637;
	fill: #493637;
}
.burgandy-1 {
	background-color: #35292A;
	fill: #35292A;
}
.burgandy-0 {
	background-color: #2B2222;
	fill: #2B2222;
}*/

/* Indigo */
/*.indigo-5 {
	background-color: #826C8B;
	fill: #826C8B;
}
.indigo-4 {
	background-color: #725F79;
	fill: #725F79;
}
.indigo-3 {
	background-color: #5F5166;
	fill: #5F5166;
}
.indigo-2 {
	background-color: #4F4454;
	fill: #4F4454;
}
.indigo-1 {
	background-color: #3E3741;
	fill: #3E3741;
}
.indigo-0 {
	background-color: #383539;
	fill: #383539;
}*/

/* Lavendar */
/*.lavendar-5 {
	background-color: #8981BA;
	fill: #8981BA;
}
.lavendar-4 {
	background-color: #7D76A8;
	fill: #7D76A8;
}
.lavendar-3 {
	background-color: #716B95;
	fill: #716B95;
}
.lavendar-2 {
	background-color: #656183;
	fill: #656183;
}
.lavendar-1 {
	background-color: #595570;
	fill: #595570;
}
.lavendar-0 {
	background-color: #4D4A5E;
	fill: #4D4A5E;
}