
/*
Header
*/

/*	#map-header {
		margin: 30px 0 0 0;
	}*/

/*
Dynamic Map Key
*/
/*
	#filter-range .key-color {
		margin: 0 0 0 12px;
	}
	#filter-range .key-color .color-value{

	}
	#filter-range .key-color .text-value {
		font-size: 14px;
	}
}
@media (min-width:1200px) {*/
/*
Header
*/

/*	#map-header {
		margin: 30px 0 0 0;
	}

	#map-ui {
		margin: 20px 0 360px 0;
	}*/

/*
Dynamic Map Key
*/

/*	#filter-range .key-color {
		margin: 0 0 0 12px;
	}
	#filter-range .key-color .color-value{

	}
	#filter-range .key-color .text-value {
		font-size: 14px;
	}*/

/*

*/
/*#map-tooltip {
		position: absolute;
		top: 200px;
		left: 1136px;
		width: 248px;
		height: auto;
		padding: 16px;
		color: rgba(255, 255, 255, 1);
		background-color: rgba(0, 0, 0, .6);
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 1px;
		z-index: 1000;
		display: none;
	}
}
*/

@media (max-width:992px) {
	#map-wrapper {
		display: none;
	}
	#map-tooSmall {
		display: block;	
	}
}

@media (min-width: 1600px) {

/* 
Map Interactive Core Styles
*/
	
	#map-wrapper {
		height: 1080px;
	}

	#choropleth-wrapper {
		height: 1080px;
	}
	#map-container {
		height: 900px;
		padding: 210px 0 0 0;
	}
	#map-header {
		top: -1080px;
		font-size: 32px;
		margin: 50px 0 0 0;
	}
	#map-ui {
		top: -1080px;
		margin: 40px 0 360px 0;
	}
	#map-metric {
		top: -1080px;
		height: 440px;
	}
	#map-legend {
		top: -1080px;
	}
	svg g {
		-webkit-transform: translate(168px, 182px);
		-moz-transform: translate(168px, 182px);
    	transform: translate(168px, 182px);
	}

/*
Map Intro Modal
*/

	#map-intro {
		position: absolute;
		top: 20%;
		left: 50%;
		width: 720px;
		height: 480px;
		margin: 0 0 0 -360px;
		padding: 32px;
		color: rgba(255, 255, 255, 1);
		background-color: rgba(0, 0, 0, .8);
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 1px;
		z-index: 9999;
		display: block;
	}
	#map-intro .modal-head {
		position: absolute;
		top: 5%;
		left: 5%;
		width: 85%;
		height: 15%;
		display: inline-block;
		color: #FFF8D9;
		font-size: 36px;
		letter-spacing: 4px;
		line-height: 48px;
	}
	#map-intro .modal-exit {
		position: absolute;
		top: 5%;
		left: 90%;
		width: 5%;
		height: 15%;
		display: inline-block;
		text-align: right;
	}
	#map-intro .modal-exit .exit {
		position: absolute;
		width: 28px;
		height: 28px;
		display: block;
		cursor: pointer;
	}
	#map-intro .modal-exit .exit .exit-line-a, #map-intro .modal-exit .exit .exit-line-b {
		position: absolute;
		top: 12px;
		background: #FFFFFF;
		display: block;
		width: 30px;
		height: 3px;
	}
	#map-intro .modal-content {
		position: absolute;
		top: 20%;
		left: 5%;
		width: 90%;
		height: 75%;
	}

/*
Filter Selection
*/

#filterSelect {
	position: absolute;
	top: 0px;	
	left: 50%;
	height: 40px;
	margin: 0 0 0 -148px;
	z-index: 1000;
	letter-spacing: 1px;
	width: 296px
}

/*
Drop Down Menu
*/

	.dropdown {
		font-size: 19px;
	}
	.dropdown .ddSelected {
		padding: 8px 0 0 0;
		width: 296px;
	}
	.dropdown .ddSelected img {
		left: 276px;
	}
	.dropdown .ddList {
		width: 296px;
	}
	.dropdown:hover .ddList, .dropdown.active .ddList {
		height: 278px;
	}
	.dropdown .ddList .ddOption{
		width: 296px;
		padding: 8px 0 0 0;
	}

/*
Chronology Toggle 
*/

	#chronologySelect {
		height: 40px;
		margin: 0 0 0 -148px;
	}
	#chronologySelect .chronology {
		height: 40px;
		padding: 8px 0 0 0;
		font-size: 16px;
	}

/*
Dynamic Map Key
*/

	#filter-metric {
		font-size: 22px;
		line-height: 28px;
	}
	#filter-range .key-color {
		margin: 0 0 0 20px;
	}
	#filter-range .key-color .text-value {
		font-size: 22px;
	}

/*
Map Key Callout Box
*/

	.callout {
		height: 440px;
	}
	#map-callout {
		font-size: 16px;
		line-height: 24px;
	}

/*
Map Tooltip
*/

	#map-tooltip {
		width: 248px;
		font-size: 16px;
		line-height: 24px;
	}
}