#map-wrapper {
	position: relative;
	margin: 0 auto;
	width: 980px;
	opacity: .5;
}
.filter {
	width: 200px;
	height: 40px;
	color: red;
	cursor: pointer;
}
.countries {
	fill: none;
}
.colored .q0-9{fill:rgb(247,251,255)}
.colored .q1-9{fill:rgb(222,235,247)}
.colored .q2-9{fill:rgb(198,219,239)}
.colored .q3-9{fill:rgb(158,202,225)}
.colored .q4-9{fill:rgb(107,174,214)}
.colored .q5-9{fill:rgb(66,146,198)}
.colored .q6-9{fill:rgb(33,113,181)}
.colored .q7-9{fill:rgb(8,81,156)}
.colored .q8-9{fill:rgb(8,48,107)}