#map-wrapper {
	position: relative;
	margin: 0 auto;
	width: 980px;
}
.filter {
	width: 180px;
	height: 40px;
	color: navy;
	cursor: pointer;
	display: inline-block;
	text-align: center;
}
.country {
	fill: lightgrey;
}

/* Color Layers */
.orange-5-5 {
	fill: rgb(207, 74, 0);
}
.orange-4-5 {
	fill: rgb(207, 93, 0);
}
.orange-3-5 {
	fill: rgb(207, 109, 0);
}
.orange-2-5 {
	fill: rgb(207, 128, 0);
}
.orange-1-5 {
	fill: rgb(207, 149, 0);
}
.orange-0-5 {
	fill: rgb(207, 171, 0);
}

/* Color Layers */
.blue-5-5 {
	fill: rgb(0, 74, 207);
}
.blue-4-5 {
	fill: rgb(0, 93, 207);
}
.blue-3-5 {
	fill: rgb(0, 109, 207);
}
.blue-2-5 {
	fill: rgb(0, 128, 207);
}
.blue-1-5 {
	fill: rgb(0, 149, 207);
}
.blue-0-5 {
	fill: rgb(0, 167, 207);
}